<a href="https://colab.research.google.com/github/cpoorna050-dot/AI_ML-Lessons/blob/main/Lesson9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


scores = pd.Series([78, 92, 85, 60, 95])
print(scores)

0    78
1    92
2    85
3    60
4    95
dtype: int64

In [ ]:
scores = pd.Series([78, 92, 85, 60, 95],
                  index=["Ali", "Sara", "John", "Maya", "Tom"])
print(scores)

Ali     78
Sara    92
John    85
Maya    60
Tom     95
dtype: int64

In [ ]:
python_list = [1,2,"the", 6.5]
python_list

[1, 2, 'the', 6.5]

In [ ]:
pd.Series([10, 20, 30])

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series([10, "twenty", 30])

0        10
1    twenty
2        30
dtype: object

Dataframe

In [ ]:
data = {
   "Name":  ["Ali", "Sara", "John", "Maya"],
   "Score": [78, 92, 85, 60],
   "Grade": ["B", "A", "B", "C"]
}


df = pd.DataFrame(data)
print(df)

   Name  Score Grade
0   Ali     78     B
1  Sara     92     A
2  John     85     B
3  Maya     60     C

In [ ]:
print(df.shape)    # (rows, columns)

(4, 3)

In [ ]:
print(df.columns)  # column names

Index(['Name', 'Score', 'Grade'], dtype='object')

In [ ]:
print(df.dtypes)   # data type of each column

Name     object
Score     int64
Grade    object
dtype: object

Add a fourth column called `"Passed"` to the `data` dictionary with values: `[True, True, True, False]`. Recreate the DataFrame and print it.

In [ ]:
data_text = """Name,Score,Grade,Age
Ali,78,B,20
Sara,92,A,22
John,85,B,21
Maya,60,C,20
Tom,95,A,23
Rita,72,C,22"""

with open("students.csv", "w") as f:
   f.write(data_text)


print("File created!")

File created!

In [ ]:

df = pd.read_csv("students.csv")
print(df)

   Name  Score Grade  Age
0   Ali     78     B   20
1  Sara     92     A   22
2  John     85     B   21
3  Maya     60     C   20
4   Tom     95     A   23
5  Rita     72     C   22

In [ ]:
print(df.head())    # First 5 rows
print(df.tail())    # Last 5 rows
print(df.head(2))   # First 2 rows — you choose how many

   Name  Score Grade  Age
0   Ali     78     B   20
1  Sara     92     A   22
2  John     85     B   21
3  Maya     60     C   20
4   Tom     95     A   23
   Name  Score Grade  Age
1  Sara     92     A   22
2  John     85     B   21
3  Maya     60     C   20
4   Tom     95     A   23
5  Rita     72     C   22
   Name  Score Grade  Age
0   Ali     78     B   20
1  Sara     92     A   22

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Score   6 non-null      int64
 2   Grade   6 non-null      object
 3   Age     6 non-null      int64
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes
None

In [ ]:
print(df.describe())   # Statistics for number columns

           Score        Age
count   6.000000   6.000000
mean   80.333333  21.333333
std    13.125040   1.211060
min    60.000000  20.000000
25%    73.500000  20.250000
50%    81.500000  21.500000
75%    90.250000  22.000000
max    95.000000  23.000000

In [ ]:
print(df["Score"])

0    78
1    92
2    85
3    60
4    95
5    72
Name: Score, dtype: int64

In [ ]:
print(df["Score"].mean())   # Average
print(df["Score"].max())    # Highest score
print(df["Score"].min())    # Lowest score

80.33333333333333
95
60

In [ ]:
print(df[["Name", "Score"]])

   Name  Score
0   Ali     78
1  Sara     92
2  John     85
3  Maya     60
4   Tom     95
5  Rita     72

In [ ]:
print(df["Score"])

0    78
1    92
2    85
3    60
4    95
5    72
Name: Score, dtype: int64

In [ ]:
df[["Score", "Age"]]

   Score  Age
0     78   20
1     92   22
2     85   21
3     60   20
4     95   23
5     72   22

In [ ]:
print(df[["Score"]])

   Score
0     78
1     92
2     85
3     60
4     95
5     72

In [ ]:
print(df[df["Score"] > 80])

   Name  Score Grade  Age
1  Sara     92     A   22
2  John     85     B   21
4   Tom     95     A   23

In [ ]:
print(df["Score"] > 80)

0    False
1     True
2     True
3    False
4     True
5    False
Name: Score, dtype: bool

In [ ]:
print(df[df["Grade"] == "A"])

   Name  Score Grade  Age
1  Sara     92     A   22
4   Tom     95     A   23

In [ ]:
print(df[(df["Score"] > 75) & (df["Age"] < 22)])

   Name  Score Grade  Age
0   Ali     78     B   20
1  Sara     92     A   22
2  John     85     B   21
3  Maya     60     C   20
4   Tom     95     A   23

In [ ]:
# Load data
df = pd.read_csv("students.csv")


# Quick overview
print("=== Student Report ===")
print(f"Total students: {len(df)}")
print(f"Average score:  {df['Score'].mean():.1f}")
print(f"Highest score:  {df['Score'].max()}")
print(f"Lowest score:   {df['Score'].min()}")

=== Student Report ===
Total students: 6
Average score:  80.3
Highest score:  95
Lowest score:   60

In [ ]:
# Find top performers (score above average)
avg = df["Score"].mean()
top_students = df[df["Score"] > avg]


print(f"Class average: {avg:.1f}")
print(f"\nTop performers ({len(top_students)} students):")
print(top_students[["Name", "Score", "Grade"]])

Class average: 80.3

Top performers (3 students):
   Name  Score Grade
1  Sara     92     A
2  John     85     B
4   Tom     95     A

In [ ]:
# Find the best student
best = df[df["Score"] == df["Score"].max()]
print(f"\nBest student:")
print(best[["Name", "Score"]])

Best student:
  Name  Score
4  Tom     95

In [ ]:
df["Name", "Score"]     # ❌ KeyError
df[["Name", "Score"]]   # ✅ Correct

In [ ]:
df[df["Score"] > 80 and df["Age"] < 22]    # ❌ ValueError
df[(df["Score"] > 80) & (df["Age"] < 22)]  # ✅ Correct

In [ ]:
df[df["Score"] > 80 & df["Age"] < 22]      # ❌ Wrong result (operator precedence)
df[(df["Score"] > 80) & (df["Age"] < 22)]  # ✅ Correct

In [ ]:
df[df["Grade"] = "A"]    # ❌ SyntaxError — this is assignment
df[df["Grade"] == "A"]   # ✅ Correct — this is comparison

In [ ]:
var = 5
ans = (var == 9)

print(var)
print(ans)

5
False